* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f9f7fe;
  font-family: "poppins";
}
.weather-interface {
  background: #c4e1ff;
  max-width: 700px;
  margin: 60px auto;
  padding: 35px;
  box-shadow: 0, 30px, 59px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
}
.search-container {
  max-width: 500px;
  position: relative;
  display: flex;
  margin: 0 auto;
}
.search-form-input {
  width: 100%;
  background: #fff;
  opacity: 0.6;
  border: none;
  opacity: 0.4;
  padding: 15px 10px;
  font-size: 14px;
  box-sizing: border-box;
  letter-spacing: 0.08em;
  box-shadow: 0, 30px, 59px rgba(65, 50, 100, 0.8);
  border-radius: 10px;
  margin-right: 5px;
  outline: none;
  z-index: 0;
  color: #276299;
}
.search-form-button {
  background: none;
  border: none;
  color: #b7d6f7;
  padding: 0 5px;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
}
.city {
  width: 550px;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #276299;
  padding: 10px 0;
  position: relative;
}
.city-name {
  font-weight: 600;
}
.city-icon {
  position: relative;
  top: 5px;
}
.temperature {
  color: #276299;
  display: block;
  text-align: center;
}
.current-temperature {
  font-size: 60px;
  position: relative;
}
#temperature-unit {
  position: relative;
  top: -25px;
  left: 3px;
  font-size: 25px;
}
#description {
  font: 15px;
}
.weather-conditions {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 30px auto;
  width: 500px;
}
.weather-conditions > li {
  color: #276299;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.weather-forecast-day {
  text-align: center;
}
.weather-forecast-date {
  color: #276299;
  font-size: 16px;
  line-height: 20px;
}
.weather-forecast-icon > img {
  width: 35px;
  text-align: center;
}
.weather-forecast-temperatures {
  display: flex;
  font-weight: 500;
  justify-content: center;
  color: purple;
}
.weather-forecast-temperature {
  padding: 0 10px;
}
footer {
  font-size: 13px;
  text-align: center;
  margin: 30px 5px 5px;
  padding: 10px 5px;
}
footer a {
  text-decoration: none;
  color: #276299;
}
